<div class="main-banner">
	<div class="container-lg container-fluid position-relative">
		<div class="row banner-row">
			<div class="order-2 order-sm-1 order-lg-1 col-12 col-md-6 col-lg-4 px-0">
				<div class="left-side">
					<div class="img-wrapper-banner">
						<img src="@@webRoot/assets/images/photos/main-bg-removebg.png" alt="main-bg.png">
					</div>
				</div>
			</div>
			<div class="order-1 order-sm-2 order-lg-2 col-12 col-md-6 col-lg-8 px-0 ">
				<div class="right-side align-items-start">
					<h1>Selamat Datang di San Asia Padma</h1>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, aliquid aspernatur. Minima tempore quod ex hic ipsa
						corrupti doloremque officia maxime esse! Doloremque eum quod laudantium nihil, distinctio temporibus sit. Inventore ullam
						voluptas iusto. Ea laudantium saepe, quae sit quia eos ducimus id totam illo hic tempora aliquid, odit quisquam! Sequi autem
						corrupti odit! Excepturi minima laboriosam reiciendis neque suscipit.</p>
					<button class="btn btn-cta">Selengkapnya</button>
				</div>
			</div>
		</div>
		<div class="floating-card justify-content-center justify-content-lg-end">
			<div class="card shadow border-0">
				<div class="card-body">
					Hubungi kami
					<p class="mb-0">
						sanasiapadma@mail.com
					</p>
				</div>
			</div>
		</div>
	</div>
</div>