<div class="container">
	<div class="text-center">
		<h2 class="fw-bold">Our Service</h2>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, blanditiis!</p>
	</div>
	<div class="row text-center mt-5">
		@@for ( let i = 0; i < 3; i++) { 
			<div class="col-12 col-md-4">
			<div class="card border-0">
				<div class="card-body">
					<div class="icon-wrapper mb-3 mx-auto"></div>
					<h3>
						Lorem, ipsum dolor.
					</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis deleniti quo quod. Hic, ipsam?
					</p>
				</div>
			</div>
		</div>
	}
	</div>
</div>