<div class="container">
	<div class="row vision pb-3 pb-md-0 pb-xl-0">
		<div class="col-12 col-md-12 col-xl-6">
			<div class="d-flex h-100 flex-column justify-content-center p-3">
				<h2 class="fw-bold">Visi & Misi</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime veniam sunt quis incidunt. Inventore molestias
					aut voluptatibus incidunt nulla tenetur optio obcaecati iste minima, voluptate, in recusandae quis quas perspiciatis
					suscipit adipisci dicta quod consequatur fugit! Excepturi sapiente amet nostrum atque soluta? Inventore eius minus
					laboriosam corporis eligendi repellendus.
				</p>
			</div>
		</div>
		<div class="col-12 col-md-12 col-xl-6 px-2 pe-xl-0">
			<div class="image-wrapper">
				<img src="@@webRoot/assets/images/photos/company.png" alt="company.png">
				<div class="sub-vision">
					<h3>SanAsiaPadma</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione optio dolore expedita, rerum tempore quasi?
					</p>
				</div>
			</div>
		</div>
	</div>
</div>